:root{
    --perc-1: 20%;
    --perc-2: 70%;
    --perc-3: 50%;
    --perc-4: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#container {
    width: 100vw;
    height: 100vh;
    border: 2px solid white;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.chart{
    width: 60px;
    /* height: 200px; */
    background: rgb(157, 151, 237);
    position: relative;
}

.chart:hover{
    background: cyan;
}

.chart::after{
    content: attr(percentage);
    position: absolute;
    top: -30px;
}

.container-chart{
    position: relative;
    width: 500px;
    height: 500px;
    padding: 0 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid white;
    border-top: none;
    border-right: none;
}

.wrap-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    list-style: none;
}

.number > li{
    font-size: 15px;
    font-weight: bold;
}

.option{
    position: absolute;
    bottom: -40px;
}


@keyframes chart-1 {
    from{
        height: 0;
    }

    to{
        height: 100px;
    }
}
@keyframes chart-2 {
    from{
        height: 0;
    }

    to{
        height: 350px;
    }
}
@keyframes chart-3 {
    from{
        height: 0;
    }

    to{
        height: 250px;
    }
}
@keyframes chart-4 {
    from{
        height: 0;
    }

    to{
        height: 500px;
    }
}

/* Tinggi masing masing chart */
#chart-1{
    height: 100px;
    animation: chart-1 1s ease-out;
}
#chart-2{
    height: 350px;
    animation: chart-2 1.5s ease-out;
}
#chart-3{
    height: 250px;
    animation: chart-3 2s ease-out;
}
#chart-4{
    height: 500px;
    animation: chart-4 2.5s ease-out;
}